body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background: #e0e0e0;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

nav button {
  /* text-decoration: none; */
  margin-right: 2%;
  color: #020;
}

#home {
  margin-left: 1%;
}

nav img {
  height: 60px;
  width: 60px;
}

#grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 2%;
  max-height: 400px;
}

#grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

#grid-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  border: 1px solid black;
}

#radissonblu {
  height: 350px;
  width: 500px;
  /* margin: 2% 4% 0% 4%; */
  margin: 20px;
}

#radissonhotelCarousal {
  width: 80%;
}

.carousel-inner {
  margin-left: 15%;
}

#formdetail {
  height: 100%;
  width: 100%;
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: space-around;
  align-items: center;
}

#subgriditem1 {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: start;
}

#subgriditem2 {
  grid-row: 1/2;
  grid-column: 2/4;
  justify-self: start;
}

#subgriditem3 {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: start;
}

#subgriditem4 {
  grid-row: 2/3;
  grid-column: 2/4;
  justify-self: start;
}

#subgriditem5 {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: start;
}

#subgriditem6 {
  grid-row: 3/4;
  grid-column: 2/4;
  justify-self: start;
}

#subgriditem7 {
  grid-row: 4/5;
  grid-column: 1/2;
  justify-self: start;
}

#subgriditem8 {
  grid-row: 4/5;
  grid-column: 2/4;
  justify-self: start;
}

#subgriditem9 {
  grid-row: 5/6;
  grid-column: 1/2;
  justify-self: start;
}

#subgriditem10 {
  grid-row: 5/6;
  grid-column: 2/4;
  justify-self: start;
}

#subgriditem11 {
  grid-row: 6/7;
  grid-column: 2/4;
  justify-self: start;
}

#subgriditem11 button {
  padding: 5px;
}

#details {
  margin: 1% 2% 2% 2%;
}

#details h5 {
  font-family: cursive;
}

footer img {
  height: 20px;
  width: 22px;
}

footer {
  background-color: rosybrown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: sticky;
  bottom: 0px;
}

#social {
  min-width: 100px;
}

footer button {
  /* text-decoration: none; */
  margin-left: 2%;
  /* color: #020; */
}

#copyright {
  font-size: 10px;
}
