body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

nav a {
    text-decoration: none;
    margin-right: 2%;
    color: #020;
}

nav img {
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

#searchbar {
    width: 100vw;
    height: 380px;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    border: 1px transparent;
    border-radius: 12px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    width: 25%;
}

#search:focus {
    outline: none;
}

#city-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

#image-container {
    position: relative;
    
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#image-container:hover #overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #f1f1f1;
}

#city-images img {
    height: 150px;
    width: 150px;
    border-radius: 15%;
    box-shadow: 10px 10px 10px grey;
}

#viewmore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#viewmore a {
    text-decoration: none;
    color: #020;
}

footer img {
    height: 20px;
    width: 22px;
}

footer {
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;
    bottom: 0px;
}

#social {
    min-width: 100px;
}

footer a {
    text-decoration: none;
    margin-left: 2%;
    color: #020;
}

#copyright {
    font-size: 10px;
}