body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: #e0e0e0;
}

nav {
    background-color: rosybrown;
}

nav img {
    height: 60px;
    width: 60px;
}

#searchbar {
    width: 100vw;
    height: 380px;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-position: center;
    background-size: cover;
}

#city-images {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    
}

#city-images img {
    height: 150px;
    width: 150px;
    border-radius: 15%;
}

footer img {
    height: 20px;
    width: 22px;
}

footer {
    background-color: rosybrown;
}