body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background: #e0e0e0;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

nav button {
  /* text-decoration: none; */
  margin-right: 2%;
  color: #020;
}

#home {
  margin-left: 1%;
}

nav img {
  height: 60px;
  width: 60px;
}

div#content-div {
  min-height: 90vh;
}

#radissonblu {
  height: 270px;
  width: 300px;
}

#hotel-parent {
  display: flex;
}

#hotel {
  width: 50%;
  height: 20%;
  background-color: rgb(132, 136, 139);
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#address {
  margin-right: 4%;
}

#payinfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2%;
}

b {
  font-weight: 700;
  font-family: cursive;
}

#info {
  margin: 2%;
}

#tariff {
  margin: 2%;
  padding: 1% 2%;
}

#paynow {
  text-decoration: none;
  color: #020;
}

footer img {
  height: 20px;
  width: 22px;
}

footer {
  background-color: rosybrown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: sticky;
  bottom: 0px;
}

#social {
  min-width: 100px;
}

footer button {
  /* text-decoration: none; */
  margin-left: 2%;
  /* color: #020; */
}

#copyright {
  font-size: 10px;
}
